*pbxuser
*perspectivev3
.DS_Store
build/
.sconsign.dblite
*.out
*.out.bz2
Simulator/doc
*.pyc
libsimulator.xml
libsimulator.py
proposal.aux
proposal.log
proposal.pdf
report.aux
report.log
report.pdf

